<!-- One -->
<section id="{{ include.section.section_id }}" class="wrapper {{ include.section.section_background_style }} special">
    <div class="inner">
        <header class="major alt {{ include.section.header_background_style }}">
            <h2>{{ include.section.title }}</h2>
            {{ include.section.subtitle | markdownify }}
        </header>
        <section class="split">
            <article>
                <h4>{{ include.section.left.title }}</h4>
                {{ include.section.left.text | markdownify }}
                {% if include.section.left.link %}
                    <ul class="actions special">
                        <li><a href="{{ include.section.left.link | link | relative_url }}" class="button">Learn More</a></li>
                    </ul>
                {% endif %}
            </article>
            <article>
                <h4>{{ include.section.right.title }}</h4>
                {{ include.section.right.text | markdownify }}
                {% if include.section.right.link %}
                    <ul class="actions special">
                        <li><a href="{{ include.section.right.link | link | relative_url }}" class="button">Learn More</a></li>
                    </ul>
                {% endif %}
            </article>
        </section>
    </div>
</section>
